<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<title>Stack Overflow Searcher</title>
	</head>

	<body class="main">
		<section class="content">
			<form
				id="addHistory"
				action="/get_history"
				class="search"
				method="post"
				target="get"
			>
				<input
					type="text"
					name="input"
					id="input"
					class="search_box"
					list="example"
					size="31"
					value=""
				/>
				<input
					type="text"
					name="username"
					id="ipt-user-profile"
					value=""
					style="display: none"
				/>
				<button class="regular_button--search" onclick="callAfter()">
					Search
				</button>
			</form>

			<button
				id="btn-login"
				class="regular_button--authentication"
				disabled
				onclick="login()"
			>
				Log in
			</button>
			<button
				id="btn-logout"
				class="regular_button--authentication"
				disabled
				onclick="logout()"
			>
				Log out
			</button>

			<form
				action="http://google.com/cse"
				id="customSearch"
				style="display: none"
			>
				<input type="hidden" name="cx" value="d061fd4b57d2ccc0c" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="q" value="" />
			</form>

			<iframe name="get" style="display: none"></iframe>
		</section>

		<p class="border"></p>

		<div class="hidden" id="gated-content">
			<datalist id="example">
				{% for entry in entries %}
				<option class="history__datalist" disabled>{{ entry.input }}</option>
				{% endfor %}
			</datalist>

			<form name="DeleteAll" class="delete" method="post">
				<input type="text" value="" style="display: none" />
				<button class="regular_button--all_delete">AllDelete</button>
			</form>

			<section class="history">
				<ul class="history__list">
					{% for entry in entries %}
					<div class="history__group">
						<li class="history__item">{{ entry.input }}</li>
						<li class="hidden">{{ entry.user_name }}</li>
						<form
							id="DeleteHistory"
							class="delete"
							action="/delete_single"
							method="post"
						>
							<input
								type="text"
								name="id"
								value="{{ entry.id }}"
								style="display: none"
							/>
							<button class="regular_button">Delete</button>
						</form>
					</div>
					{% endfor %}
				</ul>
			</section>
		</div>

		<script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
		<script type="text/javascript" src="/static/index.js"></script>
	</body>
</html>
