<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>signup</title>
</head>

<body>
    <form action="/get_user" method="POST">
        <div>
            <label for="user">user name:</label>
            <input type="text" name="username">
        </div>
        <input type="submit" value="Sign Up">
    </form>
</body>

</html>