<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>signup</title>
</head>

<body class="main">
    <section class="content">
        <form action="/get_user" method="POST">
            <div>
                <label for="username">user name:</label>
                <input type="text" name="username">
                <button class="search__button">Sign Up</button>
            </div>
        </form>
    </section>
</body>

</html>