<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Qiita Searcher</title>
</head>

<body>
    <datalist id="example">
        {% for entry in entries %}
        <option value="{{ entry.input }}"></option>
        {% endfor %}
    </datalist>

    <form id="addHistory" action="/get" method="post" target="get">
        <input type="text" name="input" id="input" list="example" size="31" value="" />
        <input type="submit" name="sa" value="Search" onclick="callAfter()" />
    </form>

    <form action="http://google.com/cse" id="customSearch" style="display:none;">
        <input type="hidden" name="cx" value="4703ca6da52d3c5fd" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="hidden" name="q" value="" />
    </form>

    <iframe name="get" style="display:none;"></iframe>

    <script>
        function addHistory() {
            document.forms['addHistory'].submit();
        }

        function customSearch() {
            let input_text = document.getElementById("input").value;
            document.forms['customSearch'].elements['q'].value=input_text;
            document.forms['customSearch'].submit();
        }

        function callAfter() {
            let acc = [customSearch(), addHistory()]
            while (acc.length > 0) {
                acc.shift();
            }
        }
    </script>
</body>
