<history class="his">

    <datalist id="example">
        {% for entry in entries %}
        <option value="{{ entry.input }}"></option>
        {% endfor %}
    </datalist>

    <form action="/add" onsubmit="return compare(this);">
        <input type="hidden" name="cx" value="4703ca6da52d3c5fd" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" list="example" size="31" />
        <input type="submit" name="sa" value="Search" />
    </form>

    <iframe id="AAA" src="http://google.com/cse"></iframe>

    <script>
        function compare(f) {
            var t = f.elements["q"].value;
            document.getElementById("AAA").src = "http://google.com/cse";
            document.getElementById("BBB").src = "http://google.com/cse" + t;
            return false;
        }
    </script>

<history class="his">
