<history class="his">

    <datalist id="example">
        {% for entry in entries %}
        <option value="{{ entry.input }}"></option>
        {% endfor %}
    </datalist>

    <script type="text/javascript">
        function searchGoogle(q) {
            document.forms['searchForm'].elements['q'].value=q;
            document.forms['searchForm'].submit();
            return false;
        }

        function selectId() {
            document.getElementByName(input).value;
        }
    </script>

    <form id="custom-search" action="/add" method="post">
        <input type="text" name="input" list="example" size="31" value="" />
        <input type="submit" name="sa" value="Search" onclick="return searchGoogle(selectId())" />
    </form>

    <form action="http://google.com/cse" id="searchForm" style="display:none;">
        <input type="hidden" name="cx" value="4703ca6da52d3c5fd" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="hidden" name="q" value="" />
    </form>

<history class="his">